html {
    font-size: 62,5%;
    font-family: 'Dongle', sans-serif;
}

footer p {
    font-size: .8rem;
}

.container {
    border: 2px solid #000;
    width: 440px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin: 10px;
}

.caixa {
    border-radius: 10px;
    padding: 7px;
    font-family: 2rem;
    font-family: 'Dongle', sans-serif;
}

label {
    font-size: 2rem;
}